<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                          http://www.springframework.org/schema/beans/spring-beans.xsd
                          http://www.springframework.org/schema/context
                          http://www.springframework.org/schema/context/spring-context.xsd">

    <!--引入db.properties-->
    <context:property-placeholder location="classpath:db.properties"></context:property-placeholder>

    <!--配置mybatis的sqlsessionfactory-->
    <!--配置SqlSessionFactory-->
    <bean class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--引入数据源-->
        <property name="dataSource" ref="dataSource"></property>
        <!--引入mybatis配置文件-->
        <property name="configLocation" value="classpath:mybatis-config"></property>
        <!--引入MyBatis映射文件-->
        <property name="mapperLocations" value="classpath:com/todo/mapper/*.xml"></property>
    </bean>

    <!--配置c3p0数据源-->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="jdbcUrl" value="${url}"></property>
        <property name="user" value="${uname}"></property>
        <property name="password" value="${upass}"></property>
        <property name="driverClass" value="${driver_Class}"></property>
        <property name="maxPoolSize" value="${maxPoolSize}"></property>
        <property name="initialPoolSize" value="${initPoolSize}"></property>
    </bean>

    <!--扫描mapper包并且自动创建成 MapperFactoryBean-->
    <bean id="scannerConfigurer" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.todo.mapper"></property>
    </bean>
</beans>